@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');
* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.welcome {
    background: radial-gradient(95.66% 1666.54% at 4.34% 57.54%, rgba(1, 5, 99, 0.91) 0%, #254DD9 100%);
    height: 70px;
    width: 1440px;
    justify-content: space-between;
}

h1 {
    display: flex;
    color: white;
    font-size: 25px;
    padding: 15px;
    margin-left: 25px;
}

.logo-justify a {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    width: 30px;
    height: 27px;
    margin-left: 1280px;
    color: white;
}

.welcome img {
    width: 50px;
    height: 47px;
    margin: 55px;
}

li {
    list-style: none;
}

.header {
    background-color: white;
    height: 119px;
    width: 1440px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
}

.header-logo img {
    display: inline-block;
    width: 212px;
    height: 119px;
}

.header-list li {
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
    margin: 10px 5px;
}

.header-list a {
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    color: black;
}

.header-list a:hover {
    background-color: rgb(71, 71, 255);
    color: white;
}

.main {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(img/keindahan.jpg); */
    width: 1440px;
    height: 750px;
    background-size: cover;
    position: relative;
}

.form-login {
    padding: 50px 50px;
}

h3 {
    font-size: 60px;
    color: black;
}

h4 {
    font-size: 15px;
    color: black;
    margin: -13px 0 25px 0;
}

p {
    color: black;
    font-size: 20px;
    margin-bottom: 2px;
}

input {
    width: 400px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 20px;
    border: 2px solid #dee7ec;
    background: radial-gradient(159.97% 67694.69% at 0% 50%, #093BF7 0%, rgba(11, 238, 253, 0.633947) 86.46%, rgba(9, 236, 251, 0.28886) 99.98%, rgba(44, 223, 239, 0.140625) 99.99%, rgba(0, 221, 208, 0) 100%);
}

.tombol {
    background: radial-gradient(159.97% 67694.69% at 0% 50%, #093BF7 0%, rgba(11, 238, 253, 0.633947) 86.46%, rgba(9, 236, 251, 0.28886) 99.98%, rgba(44, 223, 239, 0.140625) 99.99%, rgba(0, 221, 208, 0) 100%);
    border-radius: 8px;
    width: 132px;
    height: 41px;
    padding: 4px;
    margin-top: 15px;
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.672);
}

::placeholder {
    color: white;
}

.modal.show {
    display: block;
    animation: fade .5s forwards;
}

.modal-dialog {
    position: relative;
    width: auto;
    max-width: fit-content;
    margin: 50px auto;
}

.modal-content {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.modal-content .modal-header {
    padding: 30px 30px;
}

.modal.invalid {
    position: relative;
    background-color: white;
    color: red;
    text-align: left;
    font-size: 17px;
    max-width: fit-content;
    margin: 50px 0 0 0;
    padding: 5px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.footer {
    background: radial-gradient(95.66% 1666.54% at 4.34% 57.54%, rgba(1, 5, 99, 0.91) 0%, #254DD9 100%);
    width: 1440px;
    height: 82px;
    display: flex;
    justify-content: space-between;
}

.sponsor {
    display: flex;
}

.logo-pesona img {
    width: 150px;
    height: 36px;
    margin: 25px 20px 20px 50px;
}

.logo-muharram img {
    display: inline-block;
    width: 100px;
    height: 36px;
    margin: 25px 0 25px 10px;
    justify-content: space-between;
}

.logo-harjabo img {
    width: 99px;
    height: 61px;
    margin: 10px 0 10px 20px;
    justify-content: space-between;
}

.logo-ijen-vestifal img {
    width: 58px;
    height: 36px;
    margin: 25px 0 25px 30px;
    justify-content: space-between;
}

.logo1 {
    display: flex;
    margin-right: -855px;
}

.logo-instagram img {
    margin: 30px 190px 20px 0;
    width: 25px;
    justify-content: right;
}

.logo-facebook img {
    margin: 30px 190px 20px 0;
    width: 25px;
    color: darkblue;
    background-color: white;
}

.logo-twiter img {
    margin: 30px 200px 20px 0;
    width: 25px;
}

.footer-list a {
    text-decoration: none;
    color: white;
}

.footer-list li {
    display: inline-block;
    color: white;
    margin: 30px 50px 20px 0;
    font-size: 18px;
}